.icon-small
{
    height:18px;
    margin:0;
	padding:0;
}

.icon-medium
{
    height:22px;
	margin:0;
	padding:0;
}
.panel-menu-items{
  height: 180px;
    overflow-y: auto;
}
.menuitem-list{
  list-style: none;
  width: auto;
  border-width: thin;
}
.menuitem-list a{
  text-decoration: none;
}
