<template>
<div class="">
<div class="row">
  <div class="col-lg-4" v-for="(datamenus, index) in menus" :key="datamenus.id">
    <div class="tab-content">
      <div role ="tabpanel" class="tab-pane active">
        <div class="panel panel-flat">
          <div class="panel-heading">
            <h6 class="panel-title">{{datamenus.menu_name}}</h6>
            <div class="heading-elements">
              <ul class="icons-list">
                <li>
                <a href="#" data-toggle="modal" @click="datamenuitem.menu_id = datamenus.id " data-target="#tambahMenuItem">
                  <i class="icon-plus2" aria-hidden="true"></i></a>
                </li>
                <li>
                  <a @click="deleteMenu(datamenus.id,index)" data-action="close"></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="panel-body panel-menu-items">
            <ul class="">
              <li v-for="menuitems in datamenus.menu_items" class="menuitem-list"><a v-bind:href="menuitems.link">{{menuitems.mmenuitem_name}}</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="tambahMenu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tambah Menu</h4>
      </div>
      <form action="" class="form-horizontal" method="post" @submit.prevent>
      <div class="modal-body">
          <div class="form-group">
            <label for="menu-name" class="control-label col-sm-3">Nama Menu</label>
            <div class="col-sm-9">
              <input type="text" required="" name="menu_name" id="menu-name" v-model="menu.menu_name" placeholder="Nama Menu" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="link" class="control-label col-sm-3">Lokasi Link</label>
            <div class="col-sm-9">
              <input type="text" name="link" id="link" v-model="menu.link" class="form-control" placeholder="link">
            </div>
          </div>
          <div class="form-group">
            <label for="css-icon" class="control-label col-sm-3">CSS-ICON</label>
            <div class="col-sm-9"><input type="text" name="css_icon" id="css-icon" v-model="menu.css_icon" placeholder="css-icon" class="form-control"></div>
          </div>
          <div class="form-group">
            <label for="" class="control-label col-sm-3">Icon Foto</label>
            <div class="col-sm-9">
              <div class="input-group">
                 <span class="input-group-btn">
                   <a id="lfm" data-input="thumbnail" data-preview="holder" class="btn btn-primary">
                     <i class="fa fa-picture-o"></i> Choose
                   </a>
                 </span>
                 <input id="thumbnail" class="form-control" type="text" v-model="menu.icon_foto" name="foto">
               </div>
                 <img id="holder" :src="menu.icon_foto" style="margin-top:15px;max-height:100px;">
            </div>
          </div>
          <div class="form-group">
            <label for="" class="control-label col-sm-3">Publish</label>
            <div class="col-sm-9">
              <div class="checkbox">
								<label>
									<div class="checker"><span><input type="checkbox" v-model="menu.publish" class="styled"></span></div>
									<div v-if="menu.publish">Publish</div><div v-else>Unpublish</div>
								</label>
							</div>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"  @click="submitMenu">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>


<div class="modal fade" id="tambahMenuItem" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Tambah Menu Item</h4>
      </div>
      <form action="" class="form-horizontal" method="post" @submit.prevent>
      <div class="modal-body">
          <div class="form-group">
            <label for="menu-name" class="control-label col-sm-3">Nama Menu Item</label>
            <div class="col-sm-9">
              <input type="text" required="" name="menu_name" id="menu-name" v-model="datamenuitem.mmenuitem_name" placeholder="Nama Menu" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="link" class="control-label col-sm-3">Lokasi Link</label>
            <div class="col-sm-9">
              <input type="text" name="link" id="link" required="" v-model="datamenuitem.link" class="form-control" placeholder="link">
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" @click="submitMenuItem(datamenuitem.menu_id)">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>
</div>
</template>

<script>
    export default {
        data:function(){
          return {
            menu :{
              'menu_name':'',
              'link':'',
              'css_icon':'',
              'icon_foto':'',
              'publish':''
                  },
            menus:[],
            datamenuitem:{
              'menu_id':'',
              'mmenuitem_name':'',
              'link':'',
            }
          }
        },
        mounted:function(){

        },
        created:function(){
          this.getDataMenuAndItem();
        },
        methods:{
          getDataMenuAndItem: function(){
            var ini = this;
            axios.get('/menu').then(function(response){
              Vue.set(ini.$data,'menus',response.data);
            });
          },
          submitMenu:function(){
            var ini = this;
            axios.post('/menu',ini.menu).then(function(response){
              console.log(response.data);
              ini.menus.push(response.data);
              $('#tambahMenu').modal('hide');
            });
          },
          deleteMenu:function(id,index){
            var ini = this;

            axios.delete('/menu'+'/'+id,id).then(function(response){
              ini.menus.splice(index, 1);
            });
          },
          submitMenuItem:function(index){
            var ini = this;
            axios.post('/menu-item',ini.datamenuitem).then(function(response){
              ini.getDataMenuAndItem();
                $('#tambahMenuItem').modal('hide');
            });
          }
        }
    }
</script>
