<template>
  <div class="row">
    <div class="col-lg-9">
      <!-- taruh yang di butuhkan di sini -->
      <div class="tab-content">
        <div role ="tabpanel" class="tab-pane active" id="profile">
          <div class="panel panel-flat">
            <div class="panel-heading">
              <h6 class="panel-title">Profile information</h6>
              <div class="heading-elements">
                <ul class="icons-list">
                  <li>
                    <a data-action="collapse"></a>
                  </li>
                  <li>
                    <a data-action="reload"></a>
                  </li>
                  <li>
                    <a data-action="close"></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="panel-body">
              <form action="" method="post" @submit.prevent>
                <input type="hidden" name="_method" value="put">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Username</label>
                      <input type="text" v-model="profile.username" name="username" class="form-control"></div>
                    <div class="col-md-6">
                      <label>Nama Lengkap</label>
                      <input type="text" v-model="profile.name" name="name" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label>Alamat</label>
                      <input type="text" v-model="profile.alamat" name="alamat" class="form-control"></div>
                    <div class="col-md-4">
                      <label>Desa</label>
                      <input type="text" v-model="profile.desa" name="desa" class="form-control"></div>
                    <div class="col-md-4">
                      <label>Kecamatan</label>
                      <input type="text" v-model="profile.kecamatan" name="kecamatan" class="form-control"></div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-4">
                      <label>Kabupaten</label>
                      <input type="text" v-model="profile.kabupaten" name="kabupaten" class="form-control"></div>
                    <div class="col-md-4">
                      <label>Provinsi</label>
                      <input type="text" v-model="profile.provinsi" name="provinsi" class="form-control"></div>
                    <div class="col-md-4">
                      <label>Kode Post</label>
                      <input type="text" v-model="profile.kode_post" name="kode_post" class="form-control"></div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Email</label>
                      <input type="email" v-model="profile.email" name="email" class="form-control"></div>
                    <div class="col-md-6">
                      <label>Negara</label>
                      <select class="select form-control" id="select" v-model="profile.negara" name="negara">
                        <option v-for="negara in negaras" :value="negara.nation_cd" >{{negara.nation_nm}}</option>
                       </option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Telepon</label>
                      <input type="text" v-model="profile.telepon" name="telepon" class="form-control">
                      <span class="help-block">+99-99-9999-9999</span>
                    </div>
                    <div class="col-md-6">
                      <label class="display-block">Foto Profile</label>
                      <div class="input-group">
                         <span class="input-group-btn">
                           <a id="lfm" data-input="thumbnail" data-preview="holder" class="btn btn-primary">
                             <i class="fa fa-picture-o"></i> Choose
                           </a>
                         </span>
                         <input id="thumbnail" class="form-control" type="text" v-model="profile.foto" name="foto"></div>
                         <img id="holder" :src="profile.foto" style="margin-top:15px;max-height:100px;">
                    </div>
                  </div>
                </div>
                <div class="text-right">
                  <button type="submit" class="btn btn-primary" @click="submitProfile" >Save <i class="icon-arrow-right14 position-right"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="account-setting">
          <div class="panel panel-flat">
            <div class="panel-heading">
              <h6 class="panel-title">Account settings</h6>
              <div class="heading-elements">
                <ul class="icons-list">
                  <li>
                    <a data-action="collapse"></a>
                  </li>
                  <li>
                    <a data-action="reload"></a>
                  </li>
                  <li>
                    <a data-action="close"></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="panel-body">
              <form action="#">
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Username</label>
                      <input type="text" value="Kopyov" readonly="readonly" class="form-control"></div>
                    <div class="col-md-6">
                      <label>Password Sekarang</label>
                      <input type="password" value="password" readonly="readonly" class="form-control"></div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Password Baru</label>
                      <input type="password" placeholder="Enter new password" class="form-control"></div>
                    <div class="col-md-6">
                      <label>Password Baru</label>
                      <input type="password" placeholder="Repeat new password" class="form-control"></div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-md-6">
                      <label>Profile visibility</label>
                      <div class="radio">
                        <label>
                        <input type="radio" name="visibility" class="styled" checked="checked">Visible to everyone</label>
                      </div>
                      <div class="radio">
                        <label>
                        <input type="radio" name="visibility" class="styled">Visible to friends only</label>
                      </div>
                      <div class="radio">
                        <label>
                        <input type="radio" name="visibility" class="styled">Visible to my connections only</label>
                      </div>
                      <div class="radio">
                        <label>
                        <input type="radio" name="visibility" class="styled">Visible to my colleagues only</label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label>Notifications</label>
                      <div class="checkbox">
                        <label>
                        <input type="checkbox" class="styled" checked="checked">Password expiration notification</label>
                      </div>
                      <div class="checkbox">
                        <label>
                        <input type="checkbox" class="styled" checked="checked">New message notification</label>
                      </div>
                      <div class="checkbox">
                        <label>
                        <input type="checkbox" class="styled" checked="checked">New task notification</label>
                      </div>
                      <div class="checkbox">
                        <label>
                        <input type="checkbox" class="styled">New contact request notification</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="text-right">
                  <button type="submit" class="btn btn-primary">Save <i class="icon-arrow-right14 position-right"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>
<script>
export default{
  data: function (){
    return {
      profile :{'username'  :'',
                'name'      :'',
                'alamat'    :'',
                'desa'      :'',
                'kecamatan' :'',
                'kabupaten' :'',
                'provinsi'  :'',
                'negara'    :'',
                'email'     :'',
                'telepon'   :'',
                'foto'      :''
                },
      id :'',
      negaras : {}
    }
  },
  created: function(){
    this.getUser();
  },
  methods: {
    getUser:function(){
       var dp = this.profile;
       var dn = this.negaras;
       var ini = this;

      axios.get('/profile').then(function(response){
        ini.id = response.data.data.id;
        dp.username = response.data.data.username;
        dp.name = response.data.data.name;
        dp.alamat = response.data.data.alamat;
        dp.desa = response.data.data.desa;
        dp.kecamatan = response.data.data.kecamatan;
        dp.kabupaten = response.data.data.kabupaten;
        dp.provinsi = response.data.data.provinsi;
        dp.negara = response.data.data.negara;
        dp.email = response.data.data.email;
        dp.telepon = response.data.data.telepon;
        dp.foto = response.data.data.foto;
        Vue.set(ini.$data,'negaras',response.data.nation)
        // value = response.data.nation;
        // for (var i = 0; i < value.length; i++) {
        //   dn.push(value);
        // }

      });
    },
    submitProfile:function(){
      var ini = this;
      axios.put('/profile' +'/' + ini.id, ini.profile).then(function(response){
        console.log(response);
      });
    }
  }
}
</script>
